/*----------header----------*/
.link-social {
  margin: 0;
  padding: 0;
}

.header-title {
  border-bottom: 20px groove rgb(255, 90, 148);
}
.name-title {
  margin: 0% 0% 0% 0%;
}
.name-title-sub {
  margin: 0% 0% 0% 0%;
}
.logo-SFLK {
  width: 20vw;
}
@media screen and (max-width: 1024px) {
  .logo-SFLK {
    width: 40vw;
  }
}

#github {
  grid-area: github;
}

/*----------nav----------*/
.nav-bar {
  display: flex;
  letter-spacing: 0.2vw;
  justify-content: center;
  font-size: 3.5vw;
}
.nav-button {
  width: 25vw;
  text-align: center;
  padding: 0.5% 1% 0.5% 1%;
  margin: 0% 1% 1% 1%;
  transition: ease-out 0.3s;
  border-radius : 2vw;
  color: black;
}
.nav-button:visited {
  color: black;
}
.nav-button:hover {
  background-color: rgb(255, 90, 148);
  color: white;
  transition: ease 0.3s;
}

/*----------footer----------*/
.footer-text {
  color : rgb(255, 90, 148);
  margin: 0;
  padding: 0;
}
