#learn-button {
  background-color: rgb(255, 90, 148, 0.8);
  color: white;
}

main {
  font-size: 1.25vw;
  font-family: "Poppins", sans-serif;
  background-color : rgba(255, 247, 26, 0.2);
  margin : 0% 2% 0% 2%;
  padding : 2% 2% 2% 2%;
  border-radius : 2vw;
  line-height : 2vw ;
  letter-spacing :0.01vw ;
  word-spacing : 0vw;
}
@media screen and (max-width: 1024px) {
  main {
    padding : 2% 2% 2% 2%;
    margin: 0;
    border-radius : 0;
  }
}



pre {
  background-color : rgba(255, 90, 148, 0.5);
  border-radius : 0.5vw;
  padding : 0% 0% 0% 1%;
  width : 50%;
}

code {
  font-family:'Consolas';
}

h2 {
  font-size : 2.3vw;
}

h3 {
  font-size : 2vw;
}

h4 {
  font-size : 1.5vw;
}

h5 {
  font-size : 1vw;
}

h2, h3, h4, h5 {
  width:fit-content;
  background-color : rgba(255, 90, 148, 0.25);
  border-left : 0.5vw solid rgba(255, 90, 148, 0.5);
  margin : 0.2% 0% 0.5% 0%;
  padding : 0.3% 2% 0.3% 1%;
}

p {
  font-size: 1.2vw;
}

strong {
  color :brown;
}