/* Bare bones style for the desired effect */
pre {
    display: table;
    table-layout: fixed;
    width: 100%; /* anything but auto, otherwise fixed layout not guaranteed */
    white-space: pre-wrap;
}
pre::before {
    counter-reset: linenum;
}
pre span.tr {
    display: table-row;
    counter-increment: linenum;
}
pre span.th { /* used for line numbers */
    display: table-cell;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
pre span.th::before {
    content: counter(linenum);
    text-align: right;
    display: block;
}
pre span.th {
    width: 4em; /* or whatever the desired width of the numbers column is */
}
pre code {
    display: table-cell;
}